version: "3.9"

services:
  watch:
    build: .
    working_dir: /app/web
    volumes:
      - .:/app
    ports:
      - "3000:3000"
      - "3001:3001"
    command: [ "cargo", "leptos", "watch" ]



  release:
    build: .
    working_dir: /app/web
    volumes:
      - .:/app
    ports:
      - "3000:3000"
      - "3001:3001"
    command: /bin/bash -c "cargo leptos build --release && cargo leptos serve --release"
